{% load static %}
<link style='text/css' rel="stylesheet" href="{% static 'css/style1.css' %}">	

{% block content %}

<center>

<p>{{ login }}</p>

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

<div class="login">
  <form action="" method="post">
	<p>Incorrect username or password. Please try again</p>
	<table border="0">
	<tr>
	<td>
    <label for="username">Username:</label>
	</td>
	<td>
    <input type="text" name="username" value="" id="username">
	</td>
	</tr>
	<tr>
	<td>
    <label for="password">Password:</label>
	</td>
	<td>
    <input type="password" name="password" value="" id="password">
	</td>
	</tr>
	</table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
	{% csrf_token %}
  </form>
</div>

</center>

{% endblock %}
