{{> top_menu}}

<center><h2>Merchants</h2></center>


<div id='contentbox'>

  <center>
	<form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
  </form>
  </center>

<p>
<table width='100%'>
<tr align='center'>
<td><b>ID</b></td>
<td><b>Name</b></td>
<td><b>Address</b></td>
<td><b>City</b></td>
<td><b>State/Province</b></td>
<td><b>Country</b></td>
<td><b>Website</b></td>
</tr>
<tr align='center'>
<td>{{ merchant.id }}</td>
<td>{{ merchant.name}}</td>
<td>{{ merchant.address }}</td>
<td>{{ merchant.city }}</td>
<td>{{ merchant.state_province }}</td>
<td>{{ merchant.country }}</td>
<td>{{ merchant.website }}</td>
</tr>
</table>
</p>

</div>

{{> bottom_menu}}
