{% extends "base1.html" %}
{% load static %}

{% block title %}Merchants{% endblock %}


{% block content %}

<center><h2>Merchants</h2></center>

<center>
<div id='search'>
<p>
{% if error %}
        <p style='color: red;'>Please submit a search term.</p>
    {% endif %}
    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</p>
</div>
</center>

<div id="content">

<p>
<table width='100%'>
<tr align='center'>
<td><b>ID</b></td>
<td><b>Name</b></td>
<td><b>Address</b></td>
<td><b>City</b></td>
<td><b>State/Province</b></td>
<td><b>Country</b></td>
<td><b>Website</b></td>
</tr>
{% for merchant in merchant_list %}
<tr align='center'>
<td>{{ merchant.id }}</td>
<td>{{ merchant.name}}</td>
<td>{{ merchant.address }}</td>
<td>{{ merchant.city }}</td>
<td>{{ merchant.state_province }}</td>
<td>{{ merchant.country }}</td>
<td>{{ merchant.website }}</td>
</tr>
{% endfor %}
</table>
</p>
<br>

<p>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/merchants?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/merchants?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
{% endif %}

</p>
</center>

</div>

{% endblock %}

