{{> top_menu_superuser}}

<center><h2>Merchants</h2></center>


<div id='contentbox'>

  <center>
	<form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
  </form>
  </center>

<p>
  <table width="100%" border="2">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State/Province</th>
      <th>Country</th>
      <th>Website</th>
    </thead>
    <tr align='center'>
      <td>{{ merchant.id }}</td>
      <td>{{ merchant.name}}</td>
      <td>{{ merchant.address }}</td>
      <td>{{ merchant.city }}</td>
      <td>{{ merchant.state_province }}</td>
      <td>{{ merchant.country }}</td>
      <td>{{ merchant.website }}</td>
    </tr>
  </table>
</p>

</div>

{{> bottom_menu_superuser}}
