#main {
	background-color: white;
	border: 4px solid #BCD2EE;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

#logo {
	margin-left: 20px;
	padding: 20px 50px 20px 50px;
	display: inline-block;
	float: left;
}

#logout {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 20px 50px 20px 50px;
	display: inline-block;
	float: right;
}

#topmenu {	
	padding-top: 0px;
	padding-bottom: 5px;
	clear: both;
}

#contentbox {
	width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#textbox {
  width: 80%;
  float: center;
}

/* Main view */

#bottommenu {	
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
	margin-top: 20px;
}

/* Button */
.button {
	height: 40px;
	width: 150px;
	border: 4px solid;
	border-color: #6495ED;
	background-color: #BCD2EE;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 18px;
	color: blue;
	font-size: 1.3em;
	font-family: Arial, sans-serif;	
}

.button:hover {
	background-color: white;
}

.bottomlink {
	display: inline-block;
	padding: 0px 10px 0px 10px;
	margin: auto;
	font-size: 0.8em;
}

.login {
	display: block;
	margin-top: 10%;
	width: auto;
}


/* Dashboard views */

#dashleft {
	float: left;
	text-decoration: bold;
	display: inline-block;
	padding-left: 50px;
	padding-right: auto;
}

#dashright {
	float: right;
	text-decoration: bold;
	display: inline-block;
	padding-right: 50px;
	padding-left: auto;
}


/* Search form */

#search {
	padding-left: 50px;
	padding-right: 50px;
}

/* Styling */

body {
	background-color: #F2F2F2;
}

h1, h2, h3 {
	font-family: Arial, sans-serif;	
}

p {
	font-family: Arial, sans-serif;	
	font-size: 1em;
}

span {
	color: #cc0000;
}

table {
	border: 1px;
	padding-left: 50px;
	padding-right: 50px;
  text-align: center;
}


td {
	background-color: #F2F2F2;
}

td:hover {
  background-color: #FFFFFF;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline; 
}


/* Temporary border 
* {
	border: 1px dashed blue;
} */

/* Cheat Sheet
# - ID
. - class
*/

